<div class="container">
  <div class="card-trip">
    <img src="https://www.wallpapertip.com/wmimgs/50-505063_876244-title-food-cocktail-drink-ice-cube-smoke.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2><%= @cocktail.name %></h2>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <% @cocktail.doses.each do |dose| %>  
      <li><%= dose.description %> <%= dose.ingredient.name %></li>
    <% end %>
  </div>
  <br>
  <div class="container">
    <h5>Add doses</h5>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <div><%= f.input :description %></div>
      <div><%= f.association :ingredient %></div>
      <div><%= f.submit %></div>
    <% end %>
    <br>
  
  <%= link_to "Back to cocktails", cocktails_path %> |
</div>
