<div class="container">
  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2><%= @cocktail.name %></h2>
      </div>
    </div>
  </div>
  <% @cocktail.doses.each do |dose| %>  
    <li><%= dose.description %> <%= dose.ingredient.name %></li>
    <%= link_to "Delete doses", cocktail_dose_path(@cocktail.id), method: :delete %>  
  <% end %>
  <%= link_to "Add doses", new_cocktail_dose_path(@cocktail) %> 
  <hr>
  <%= link_to "Back to cocktails", cocktails_path %> |
</div>

<div class="container">
  <h2>Add doses</h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <div><%= f.input :description %></div>
    <div><%= f.association :ingredient %></div>
    <div><%= f.submit %></div>
  <% end %>
  <br>
  <%= link_to 'Back to cocktails', cocktails_path %> |
</div>